<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header">

</head>

<body>

	<nav th:replace="layouts :: navbar"></nav>   
	<div class="container">
		<h3>Main Board</h3>
		<a th:text ="${version}" style="color:crimson"></a>
		<hr>
		<h4>Current Projects</h4>
		<div class="row">
			<div class="col-md-12" style="background:beige">

				<table class=" table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th>Project Name</th>
							<th>Project Stage</th>
						    <th>Project Location</th>
							<th>Start Date</th>
						    <th>End Date</th>
							<th>Project Description</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="aProject : ${projectsList}">
							<td th:text="${aProject.name}" />
							<td th:text="${aProject.stage}" />
							 <td th:text="${aProject.location}" />
							<td th:text="${aProject.startDate}" />
						    <td th:text="${aProject.endDate}" />					   
							<td th:text="${aProject.description}" />
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<canvas id="myPieChart" height="50" width="50" style="margin-left:20%"></canvas>			
				<script>
				  var chartData = "[[${projectsListStageCount}]]"
				</script>
			</div>
		</div>
	</div>
  
	<div class="container">

		<h4>Current Employees</h4>
		<div class="row">
			<div class="col-md-12" style="background:beige">

				<table class=" table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Phone Number</th>
							<th>Number Of Project</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="aEmployeeProjectCount : ${employeesListProjectCount}">
							<td th:text="${aEmployeeProjectCount.FirstName}" />
							<td th:text="${aEmployeeProjectCount.LastName}" />
							<td th:text="${aEmployeeProjectCount.phone}" />
							<td th:text="${aEmployeeProjectCount.NumberOfProject}" />
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<canvas id="myPieChartEmp" height="50" width="50" style="margin-left:20%"></canvas>			
				<script>
				  var empData = "[[${employeesCount}]]"
				</script>
			</div>
		</div>
	</div>
	
	
	<script type="text/javascript" th:src="@{js/empChart.js}"></script>	
	<script type="text/javascript" th:src="@{js/myChart.js}"></script>			
</body>
<footer th:replace="layouts :: footer" src="/css/footer.css"></footer>
</html>