<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

	<nav th:replace="layouts :: navbar"></nav>

	<div class="container" style="background:beige">

		<h3>Create Employee</h3>
		<hr>

		<form th:action="@{/employees/save}" th:object="${employee}"  method="post">
			
			<div class="input-group mb-3">
				<span class="input-group-text">First name</span>
				<input type="text" aria-label="First name" class="form-control" placeholder="Enter First name"
					th:field="${employee.firstName}">
				<span style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="${employee.firstName}">
				</span>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text">Last Name</span>
				<input type="text" aria-label="First name" class="form-control" placeholder="Enter Last name"
					th:field="${employee.lastName}" value="Last Name">
				<span style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="${employee.lastName}">
				</span>
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text">Email</span>
				<input type="text" aria-label="First name" class="form-control" placeholder="Enter employee email "
					th:field="${employee.email}" value="Email">
				<span style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="${employee.email}">
				</span>
			</div>
			
			  <div class="input-group mb-3">
				<span class="input-group-text">Phone</span>
				<input type="text" class="form-control" placeholder="Phone Number" th:field="${employee.phone}">
			</div>

			<div class="form-group mb-3">
				<button type="submit" class="btn btn-primary mb-2">Confirm Insert</button>
			</div>


		</form>

	</div>

</body>
<footer th:replace="layouts :: footer" src="/css/footer.css"></footer>

</html>